{% extends 'mainapp/base.html' %}

{% block content %}
	<hr>
	<h1>Главная страница</h1>
	<h2>Интернет-магазин "Аквариумист"</h2>
	<h4>Добро пожаловать в наш магазин! У нас всегда
		<ul>
			<li>Тщательно отобранный ассортимент всегда в наличии</li>
			<li>Качественный сервис и профессиональные консультации</li>
			<li>Опытные аквариумисты к вашим услугам</li>
			<li>Не экономим на декорациях и работаем на совесть</li>
		</ul>
	</h4>
	<hr>
	<p>У нас есть такие категории товаров:
		{% for ProductCategory in productcategories %}
			<h4>{{ ProductCategory.name }}</h4>
		{% endfor %}
	</p>
{% endblock %}

{% block footer %}
	<p>Все права защищены &copy;</p>
{% endblock %}