{% extends 'mainapp/base.html' %}

		
	{% block content %}
		<hr>
		<p>
			{% for product in products %}
  				<div class="block">
					<a href="#">
      					<img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
      					<div class="text">
        					<h3>{{ product.category.name }}</h3>
        					<h4>{{ product.name }}</h4>
        					<p>{{ product.description }}</p>
     				 </div>
    				</a>
  				</div>
			{% endfor %}
		</p>
		<hr>
	{% endblock %}

	{% block footer %}
		<p>Все права защищены &copy;</p>
	{% endblock %}